# Ignore everything
*

# But not these files...
!.gitignore


# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!/cs2303_hws/*
!/cs2303_hws/cs2303_hw01/*
!/cs2303_hws/cs2303_hw02/*
!/cs2303_hws/cs2303_hw02/html/*
!/cs2303_hws/cs2303_hw03/*
!/cs2303_hws/cs2303_hw03/html/*
!/cs2303_labs/cs2303_lab01/*
!/cs2303_labs/cs2303_lab02/html/*
!/cs2303_labs/cs2303_lab03/html/*
!/cs2303_labs/cs2303_lab04/*
!/cs2303_labs/cs2303_lab04/html/*
